body {
    font-family:Arial, Helvetica, sans-serif;

}
.calculator {
    width: 220px;
    margin: 50px auto;
    border: 2px solid #333;
    padding: 10px;
}
#result {
    width: 100px;
    height: 40px;
    margin-bottom: 10px;
    border: 2px solid #333;
    text-align: right;
    font-size: 18px;

}
button{
    width: 45px;
    margin: 3px;
    height: 40px;
    margin: 3px;
    font-size: 16px;
}